* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    height: 60px;
    background: rgba(0,0,0,0.6);
    /* background-color: black;
    opacity:0.7; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    
}

.logo {
    color: aqua;
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: orangered;
}

.links {
    display: flex;
    gap: 55px;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:hover {
    color: orangered;
}

.signup a {
    background: orangered;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.signup a:hover{    
    transform: scale(1.4);
    color: white;
    background-color:red;
}


.hero {
     height:100vh;
    background:rgba(0,0,0,0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero h1 {
    font-size: 60px;
}

.hero span {
    color: orangered;
}

.hero p {
    margin: 20px 0;
}

.btn {
    background: orangered;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
}
.btn:hover{
    background: white;
    color: orangered;
    transform: scale(1.2);
}

.section {
    padding: 60px;
    text-align: center;
}

.section h2 {
    color: orangered;
    margin-bottom: 20px;
}

.dark {
    background: #111;
    color: white;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.box, .card {
    padding: 20px;
    background: orangered;
    color: white;
    border-radius: 6px;
    width: 200px;
}
.box:hover{
    color: orangered;
    background-color: white;
}
.card:hover{
    color: orangered;
    background-color:black;
}

form input {
    padding: 30px;
    margin: 30px;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid gray;
}

th, td {
    padding: 12px;
}

.note {
    font-size: 14px;
    margin-top: 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.signup-page {
    height: 100vh;
    background-image:url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-box {
    background: rgba(0,0,0,0.85);
    padding: 40px;
    width: 360px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.signup-box h2 {
    color: aqua;
    margin-bottom: 10px;
}

.signup-box h2 span {
    color: orangered;
}

.signup-box p {
    margin-bottom: 20px;
    font-size: 14px;
}

.signup-box input,
.signup-box select {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;

}

.signup-box input[type="submit"] {
    background: orangered;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signup-box input[type="submit"]:hover {
    opacity: 0.9;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: orangered;
    text-decoration: none;
}

